<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../core.css">
    <link rel="icon" href="../favicon.svg">
    <title>0 / 100</title>
</head>

<!-- Before posting:
- Did you change the before and after arrows?
- Did you change the title? how about the bottom numbers?
- Did you cite code?
- Did you change the homepage? (you can save this for later)
-->

<body>
    <h1>Lorem ipsum</h1>
    <p>hehehe </p>

    <div class="nav">
        <a class="next" href="../01/"><h1>⬅</h1></a>
        <div class="details"><small>⟡ 0/<a href="../index.html">100</a> ⟡</small>
        <small id="about"><a href="../about/">about the project</a></small>
        </div>
        <a class="next" href="../01/"><h1>⮕</h1></a>
    </div>

    <script src="./script.js"></script>
</body>
</html>