:root {
    --white: #FFFFFA;
    --black: #292B2C;
    --pink: #E298E4;
    --blue: #2e94b0;
    --green: #B6FF8E;
    --yellow: #FBFF7B;
    --purple: #7B67F3;
    --red: #FA5F66;
}
/* GENERAL */
body {
    width: 100;
    height: 100;
    background-color: var(--white);
    color: var(--black);
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', Georgia, serif;
    font-weight: normal;
}

p, li, summary, label {
    font-family: Helvetica, Arial, sans-serif
}

p {
    line-height: 1.5em;
}

li {
    padding-bottom: .5em;
}

small {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--purple);
    cursor: pointer;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em 0em 2em;
    padding-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.details {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .3em;
}

/* UTILITIES */
.debug {
    border: 1px var(--red) solid;
}

.hide {
    opacity: 0;
}