  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

  body {
    margin: 0;
  }
  .wrapper {
    background-color: var(--blue);
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title, p, h2, h4 {
    color: var(--white) !important;
}
.content {
    border-left: 1px var(--white) solid;
    padding: 2em;
    width: 310px;
}
.english {
    display: none;
    opacity: 0;
}

p, h2 {
    font-family: 'Nanum Myeongjo', serif !important;
    font-size: 1.3em;
}

.title {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 0;
}

.english, .spanish {
    transition: opacity 1s ease-in-out;
}
h2 {
    margin-top: 0;
}

h4 {
    font-family: 'Fjalla One', sans-serif !important;
    text-transform: uppercase;
    text-decoration: underline solid;
    transition: color .5s ease-in-out;
}

h4:hover {
    color: var(--black) !important;
    cursor: pointer;
}

.info {
    width: 276px;
}

@media only screen
and (max-width: 700px) {
    .wrapper {
        flex-direction: column;
        gap: 0em;
    }

    .content {
        border-left: none;
        border-top: 1px var(--white) solid;
        padding-top: 0;
    }
}