body {
    margin: 0;
    overflow: hidden;
}

.wrapper {
    height: 87vh;
    width: 100vw;
}

#fan {
    position: absolute;
    width: 50vw;
    left: 45vw;
    top: -50em;
    margin: 0;
    display: flex;
}

#blades {
    font-size: 100em;
    margin: 0;
}



#light {
    color: var(--yellow);
    font-size: 13em;
    margin: 0;
    position: absolute;
    top: -.25em;
    left: 77vw;
    z-index: 2;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--black);
}
.slow {
    animation: vibe 8s linear infinite !important;
}

.fast {
    animation: vibe 3s linear infinite ;
}

.tassles {
    position: absolute;
    left: 80vw;
    width: 20px;
    top: 10;
    height: 500px;
    border-right:  8px dotted  var(--black);
    border-left:   8px dotted  var(--black);
}

.beads {
    position: absolute;
    display: flex;
    margin: 0;
    z-index: 2;
    left: 79vw;
    top: 490px;
    font-size: 2em;
    color: var(--red);
}

.beads > h2 {
    margin: 0;
}

.beads > h2:hover {
    color: var(--black)
}

#switch {
    line-height: 0%;
}





@keyframes vibe {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
}