.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

img {
    width: 100vw;
    max-height: 85vh; 
    object-fit: cover;
}

#edit {
    z-index: 1;
    filter: blur(1);
}

#target {
    display: block;
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 15vh;
    left: 30vw;
    z-index: 100;
    filter: blur(1.5px) sepia(.16) hue-rotate(220deg);
    -webkit-box-shadow: 10px 13px 20px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 20px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 20px -13px rgba(0,0,0,0.75);
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-transform: uppercase;
    font-size: .8em;
}

input[type='range'] {
    appearance: slider-vertical;
    writing-mode: vertical-lr;
}

/* input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--pink);
    border-radius: 1em;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: var(--black);
    box-shadow: -80px 0 0 80px var(--blue);
  } */