.wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 87vh;
}

.input {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: flex-end

}

.output {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster {
    min-width: 28em;
    max-width: 35em;
    height: 50vh;
    background-color: var(--pink);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

.p-info {
    flex: 2;
}

.p-vibes {
    flex: 1;
    flex-flow: row;
    gap: 1em;
}

.p-details {
    font-size: 1.25em;
    display: flex;
    flex-flow: row;
    gap: 1em;
    justify-content: center;
}

.p-details:before, .p-details:after {
    content: '✧'
}

.p-details > p {
    font-family: 'Courier New', Courier, monospace !important;
}
marquee {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    background-color: var(--white);
    color: var(--pink);
    border-radius: 2em;
}

h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace !important;
    text-align: center;
    margin: 0em;
}

h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0em;
    font-family: cursive !important;
}

hr {
    /* color: var(--white); */
    border: none;
    border-top: 8px double var(--white);
    color: var(--white);
    overflow: visible;
    text-align: center;
    height: 10px;
}


label {
    display: block;
    padding-bottom: .5em;
}

