svg {
    display: none;
}

body {
    background-color: var(--black) !important;
    color: var(--white) !important;
    margin: 0;
    overflow: hidden;
}

h3 {
    position: absolute;
    padding-left: 1em;
}