body {
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    gap: 2em;
    width: 100vw;
}

.content > * {
    flex: 0 0 auto;
}

p, li {
    max-width: 35em;
}

.class {
    padding-left: 2em;
    width: 42vw;
}

.practice {
    border-left: 1px solid var(--black);
    padding-left: 2em;
    width: 48vw;
    height: 85vh;
    overflow: auto;
}

.color {
    display: flex;
    gap: .5em;
    padding-top: .5em;
}

.color > * {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
}

#participants {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 3em; */
    width: 30em;
    justify-content: space-between;
}

#participants > * {
    width: 50%;
}

@media only screen
and (max-width: 700px)
{
    .class, .practice {
        width: 90vw;
    }
    .content {
        flex-direction: column;
    }

    .practice {
        border-left: none;
        border-top: 1px solid var(--black);
        height: 80vh;
    }
    .nav {
        background-color: var(--white);
    }
    
}